* {
  /* box-sizing: border-box;
  margin: 0 auto;
  padding: 0; */
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  z-index: 1;
  background-image: url(./img//BookmarkLibraryPic.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position: 50% 0;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  overscroll-behavior: none;
}

.App {
  position: relative;
  background: rgba(255,255,255, 0.6);
  text-align: center;
  height: 100%;
  margin: 25px auto;
  padding: 7px 20px;
  max-width: 375px;
  color: #444;
  border-radius: 10px;
}

h1 {
  color: #000;
}

h2 {
  color: #000;
  padding-top: 10px;
}

button {
  border: 1px solid #aaa;
  background-color: #eee;
  font-size: 1.1em;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
}

@media (min-width: 760px) {
  .App{
    max-width: 560px;
  }
}
